body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

p {
    margin: 10px 0;
}

audio {
    margin-top: 20px;
}


#recIndicator {
    background-color: green;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: none;
}


body.rec #recIndicator {
  display: block;
}

.blink {
    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }